
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.house {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__text {
    position: static;
    margin-top: 150px;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    padding-top: 80px;
    padding-left: 120px;
    display: flex;
    color: #182625;
  }

   &__ellipse {
     flex-direction: row;
     align-content: flex-end;
     margin-left: 50%;
     margin-top: 450px;
     width: 50%;
     height: 400px;
     position: absolute;
   }
}


.green_button {
  background-color: #182625;
  color:aliceblue;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  margin-top: 180px;
  margin-left: 60px;

    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    width: 240px;
    height: 55px;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-top: 180px;
    margin-left: 120px;
    cursor: pointer;
}



