@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Estilizando o Fundo da Página:

.back{
    height: 100%;
    width: 100%;
    background-color: #5b748a;
}

// Estilizando o Banner Principal

.bannerBox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;

     // Imagem do Banner:

    &__img{
        width: 100%;
        height: 300px;
        opacity: 60%;
    }

    // Texto Escrito no Banner:

    &__text{
        display: flex;
        position: absolute;
        font-family: 'Roboto Slab', serif;
        flex-direction: column;
        gap: 10px;
    }
}

// Estilizando Tag "h1":

.h1{
    color: #d1e6e3;
    font-family: 'Roboto Slab', serif;
    font-size: 90px;
    font-weight: 600;
    opacity: 90%;
}

// Estilizando fundo das informações:
.informContainer{
    background-image: url('../../assets/components_img/fundo.png.png');
    height: 100%;
    position: relative;
}

// Estilizando a "Caixa" de Informações:

.informBox{
    background: none;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;


     // Titulo de Inicio das Informações:

    &__title{
      color: #001210;
      text-align: center;
      font-family: 'Roboto Slab', serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2px;
    }

    // Texto Informativo do Lixo Eletrônico

    &__subtitle{
      background-color: #5b748a;
      color: #192123;
      font-family: 'Roboto Slab', serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px; /* 114.286% */
      letter-spacing: 1.4px;
      text-align: justify;
    }
}



